@import url('https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap');
.App {
  text-align: center;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  margin: 0 auto;
  color: white;
}
.bar {
  display: flex;
  position: relative;
  width: 10px;
  margin: 0 0px 0 0px;
  border-radius: 5px 5px 0px 0px;
  background-color: white;
  float: left;
}
button { 
  font-family: 'Poppins', sans-serif;
  font-size: 1.2em;
  background-color: white;
  border-style: none;
  color: #282c34;
  border-radius: 20px;
  width: auto;
  padding: 5px 20px 5px 20px;
  height: 40px;
  margin: 10px;
  cursor: pointer;

}
button:hover {
  box-shadow:
  1px 1px #53a7ea,
  2px 2px #53a7ea,
  3px 3px #53a7ea;
  -webkit-transform: translateX(-3px);
  transform: translateX(-3px);
}
button:focus{
  outline: none;
}
.sortBoard {
  margin-top: 50px;
  justify-content: center;
  position: absolute;
  display: flex;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  width: 100%;
}
.red { /*always have descriptive variables*/
  background-color: forestgreen!important;
}
.confirmed {
  background-color: rgb(55, 187, 176);
}
.slider {
  appearance: none;
  width: 30%;
  border-radius: 5px;  
  height: 15px;
  background: #d3d3d3;
  outline: none;
}
.slider::-webkit-slider-thumb {
  appearance: none;
  width: 25px; 
  height: 25px;
  border-radius: 50%; 
  background: #53a7ea; 
  cursor: pointer; 
}

.slider::-moz-range-thumb {
  width: 25px; 
  height: 25px; 
  background: #4CAF50; 
  cursor: pointer;
}
@media screen and (max-width: 1300px) {
  button { 
    font-size: .8em;
    padding: 5px 13px 5px 13px;
    height: 30px;
    margin: 5px;
  }
}

@media screen and (max-width: 500px) {
  .slider{
    display: none;
  }
} 