.App {
  text-align: center;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  margin: 0 auto;
  color: white;
}
.bar {
  position: relative;
  width: 10px;
  margin: 0 1px 0 1px;
  border-radius: 5px 5px 0px 0px;
  background-color: white;
  float: left;
}
.sortBoard {
  margin-top: 50px;
  position: absolute; 
  left: 50%;
  transform: translateX(-50%);
  top: 25%;
  width: auto;
}